{% extends 'blog/base.html' %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5 main__title">About</h3>
    <div class="about__info">
    <p >Hello all, this is a simple blog application built using Django..
     </p>
    <p >Features in this application are:</p>
    <ul>
       
        <li>It has a Sign up and Login form with authentication</li>
        <li>Only if u login in u can see Dashboard</li>
        <li>From Dashboard we can Add post, Update post, Delete Post</li>
        <li>In Home all the blogs are visible which are added recently</li>
        <li>Blog body contains a title and text</li>

    </ul>
</div>
</div>
{% endblock %}