{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10" style="position: relative;">
    <h3 class="text-white main__title">Home Page</h3>
</div>

{% for post in posts %}
<div class="jumbotron jumbotron-fluid info__box ">
 
    <div class="container ">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead">{{post.desc}}</p>
    
       <small><strong>created by {{user}}</strong></small>
    </div>

</div>

{% endfor %}


<!-- huge box -->
<!-- <div class="p-5 mb-4 bg-body-tertiary rounded-3 bg-light">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
  </div> -->
{% endblock content %}
